:root {
  --prymary: #ee8906;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/*navbar*/
.c1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4%;
  background-color: rgb(1, 1, 1 0.8);
  border-bottom: 1px solid var(--prymary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.c1 .navbar {
  display: flex;
}

.c1 .navbar img {
  width: 57px;
  height: 57px;
}

.c1 .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  font-style: italic;
  padding: 0.7rem 0 0 0.5rem;
}

.c1 .navbar-logo span {
  color: var(--prymary);
}

.c1 .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.c1 .navbar-nav a:hover {
  color: var(--prymary);
}

.c1 .navbar-nav a::after {
  content: "";
  display: block;
  padding: o o 0.5rem 0;
  border-bottom: 0.1rem solid;
  color: var(--prymary);
  transform: scalex(0);
  transition: 0.2s linear;
}

.c1 .navbar-nav a:hover::after {
  transform: scalex(0.5);
}

.c1 .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.c1 .navbar-extra a:hover {
  color: var(--prymary);
}

#hamburger-menu {
  display: none;
}

/*media queries*/

/*laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/*tablet*/
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .index.htmlc1 .navbar img {
    width: 47px;
    height: 47px;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .c1 .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 25rem;
    height: 100vh;
    transition: 0.3s;
  }

  .c1 .navbar-nav.active {
    right: 0;
  }
}
/* mobile phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
